<div class="container">

    <div class="row">
      <!-- Narrower First Vertical Element -->
      <div class="col-3">
        <img 
          src="assets/bmw-i8.png"     
          class="image-container hover-cursor"
          alt="profile picture image"
          (click)="openUploadDialog()"
        >
      </div>
  
      <!-- Wider Second Vertical Element -->
      <div class="col-9">
        <!-- First Row -->
        <br>
        <br>
        <div class="row mb-2">
          <div class="col-auto white-text">
            <span>{{username}}</span>
          </div>

          <div class="col-auto">
            <button class="btn btn-primary btn-grey">Edit Profile</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary btn-grey">View Archive</button>
          </div>
        </div>
  
        <!-- Second Row -->
        <div class="row mb-2">
          <div class="col-2 white-text">
            {{postsCount}} posts
          </div>
          <div class="col-2 white-text">
            {{followersCount}} followers
          </div>
          <div class="col white-text">
            {{followingCount}} following
          </div>

        </div>
  
        <!-- Third Row -->
        <div class="row">
          <div class="col-auto white-text">
            {{name}}
          </div>
          
        </div>
      </div>
    </div>


    <div class="tabs-container">
      <a routerLink="./posts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fas fa-th"></i> POSTS
      </a>
      <a routerLink="./saved" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-bookmark"></i> SAVED
      </a>
      <a routerLink="./tagged" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-tags"></i> TAGGED
      </a>
    </div>
    
    <br>
    <router-outlet></router-outlet>
    
    
  </div>
  