<div class="container">

    <div class="row">
      <!-- Narrower First Vertical Element -->
      <div class="col-4" style="padding-left: 85px;">

        <img 
          *ngIf="profileImage"
          [src]="profileImage"
          class="image-container hover-cursor"
          alt="profile picture image"
          (click)="openUploadDialog()"
        >
  
        <img
          *ngIf="!profileImage"
          src="../../assets/no-profile-image.png" 
          alt="no profile picture image" 
          class="image-container hover-cursor"
          (click)="openUploadDialog()"
        >

      </div>  
  
      <!-- Wider Second Vertical Element -->
      <div class="col-8">
        <!-- First Row -->
        <br>
        <br>
        <div class="row mb-2">
          <div class="col-auto white-text">
            <span>{{userDetails?.username}}</span>
          </div>

          <div class="col-auto">
            <button class="btn btn-primary btn-grey">Edit Profile</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary btn-grey">View Archive</button>
          </div>
        </div>
  
        <!-- Second Row -->
        <div class="row mb-2">
          <div class="col-2 white-text">
            {{userDetails?.postsCount}} posts
          </div>
          <div class="col-2 white-text" (click)="openModal()">
            {{userDetails?.followersCount}} followers
          </div>
          <div class="col white-text">
            {{userDetails?.followingCount}} following
          </div>

        </div>
  
        <!-- Third Row -->
        <div class="row">
          <div class="col-auto white-text">
            {{userDetails?.name}}
          </div>
          
        </div>
      </div>
    </div>


    <!-- followers Modal -->
    <div class="modal" [ngClass]="{'show': showModal}">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Followers</h2>
        
          <!--
          <li *ngFor="let follower of userFollowers">{{ follower.username }}</li>
          -->
          <div class="row" *ngFor="let follower of userFollowers; let i = index">
            <div class="col-md-2">
              <img 
                  [src]="follower.profileImage" 
                  class="img-fluid mb-3"
                  [style.width.px]="44"  
                  [style.height.px]="44"  
                  style="border-radius: 50%;"
                  alt="">
            </div>
          </div>
        
      </div>
    </div>


    <div class="tabs-container">
      <a routerLink="./posts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fas fa-th"></i> POSTS
      </a>
      <a routerLink="./saved" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-bookmark"></i> SAVED
      </a>
      <a routerLink="./tagged" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-tags"></i> TAGGED
      </a>
    </div>
    
    <br>
    <router-outlet></router-outlet>
    
    
  </div>
  