<div class="container">

    <div class="row">
      <!-- Narrower First Vertical Element -->
      <div class="col-4" style="padding-left: 85px;">

        <img 
          *ngIf="profileImage"
          [src]="profileImage"
          class="image-container hover-cursor"
          alt="profile picture image"
          (click)="openUploadDialog()"
        >
  
        <img
          *ngIf="!profileImage"
          src="../../assets/no-profile-image.png" 
          alt="no profile picture image" 
          class="image-container hover-cursor"
          (click)="openUploadDialog()"
        >

      </div>  
  
      <!-- Wider Second Vertical Element -->
      <div class="col-8">
        <!-- First Row -->
        <br>
        <br>
        <div class="row mb-2">
          <div class="col-auto">
            <span style="font-weight:400; 
                         font-size: 20px;
                         color: rgb(245, 245, 245);
                         cursor: pointer;">
              {{userDetails?.username}}
            </span>
          </div>

          <div class="col-auto" >
            <button 
              class="btn btn-primary btn-grey profile-btns" 
            >
              Edit Profile
            </button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary btn-grey profile-btns">
              View Archive
            </button>
          </div>
        </div>
  
        <!-- Second Row -->
        <div class="row mb-2" style="padding-top: 18px;">

          <div class="col-2">
            <span style="font-weight: 400;font-size: 15px;color: rgb(245, 245, 245);">
              {{userDetails?.postsCount}} posts
            </span>            
          </div>

          <div class="col-2" (click)="openFollowersModal()">
            <span style="font-weight: 400;font-size: 15px;color: rgb(245, 245, 245);cursor: pointer;">            
              {{userDetails?.followersCount}} followers
            </span>
          </div>

          <div class="col">
            <span style="font-weight: 400;font-size: 15px;color: rgb(245, 245, 245);cursor: pointer;">            
              {{userDetails?.followingCount}} following            
            </span>
          </div>

        </div>
  
        <!-- Third Row -->
        <div class="row">
          <div class="col-auto white-text">
            {{userDetails?.name}}
          </div>
          
        </div>
      </div>
    </div>


    <!-- followers Modal -->
    <div 
      class="modal" 
      [ngClass]="{'show': showFollowersModal}" 
      style="background-color: #262626; 
             width: 440px; 
             height: 440px;
             margin-left: 450px;
             margin-top: 96px;
             padding-top: 0px;
             "
    >

    <div class="header-container">
      <span style="font-weight: bold;">Followers</span>
      <span class="close" (click)="closeFollowersModal()">&times;</span>
    </div>

    <div class="row" *ngFor="let follower of userFollowers; let i = index"
      >
      <div class="col-md-8" style="padding-left: 28px;">
        <img 
            *ngIf="follower.profileImage"
            [src]="follower.profileImage" 
            class="img-fluid mb-3"
            [style.width.px]="44"  
            [style.height.px]="44"  
            style="border-radius: 50%; float: left; margin-right: 13px;"
            alt="">  

        <img
          *ngIf="!follower.profileImage"
          src="../../assets/no-profile-image.png" 
          class="img-fluid mb-3"
          [style.width.px]="44"  
          [style.height.px]="44"       
          style="border-radius: 50%; float: left; margin-right: 13px;"     
          alt="no profile picture image" 
        >

        <span style="font-weight: 600; font-size: 14px; color: rgb(245, 245, 245);">
          {{follower.username}} 
        </span>
        <br>
        <span style="font-weight: 400; font-size: 14px; color: rgb(168, 168, 168);">
          {{follower.fullName}} 
        </span>
      </div>

      <div class="col-md-3" style="padding-left: 15px; padding-top: 5px;">
        <button
          [style.background-color]="follower.removedFromFollowersList ? 'red' : 'rgb(0, 149, 246)'"
          style="
            width: 100px; 
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
          "
          class="btn btn-primary"
          (click)="onFollowUserClick(follower)" 
        >
          <span *ngIf="!follower.removedFromFollowersList">Remove</span>
          <span *ngIf="follower.removedFromFollowersList">Removed</span>
                        
        </button>  
      </div>      
              
    </div>

        
    </div>


    <div class="tabs-container">
      <a routerLink="./posts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fas fa-th"></i> POSTS
      </a>
      <a routerLink="./saved" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-bookmark"></i> SAVED
      </a>
      <a routerLink="./tagged" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-tags"></i> TAGGED
      </a>
    </div>
    
    <br>
    <router-outlet></router-outlet>
    
    
  </div>
  