.image-container {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	/* This makes it round */
	margin: 50px auto;
	/* Just for centering and spacing */
}

.hover-cursor:hover {
  cursor: pointer; /* Change 'pointer' to any cursor type you prefer */
}
  
.white-text {
	color: white;
}

.btn-grey {
	background-color: grey;
	border-color: grey;
	color: #fff;
	/* Change text color if needed */
}

body {
	background-color: black;
	/* Setting the entire background to black */
}

.tabs-container {
	display: flex;
	justify-content: center; 
	border-top: 1px solid grey;
	padding-top: 15px;
}
  
.tabs-container a {
	margin: 0 30px; /* Add 60px space between each tab */
	text-decoration: none; /* Remove the default underline from links */
	color: grey;
}
  
.tabs-container a.active {
	font-weight: bold; /* Style the active tab differently, if needed */
}
  

/* followers.component.css */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	padding-left: 0px;
	padding-right: 0px;
	overflow-x: hidden; /* Hide horizontal scroll bar */
	overflow-y: auto;   /* Keep vertical scroll bar if needed */
	border-radius: 15px;
}
  
.modal.show {
	display: block;
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 48px; /* Set the height to 45px */
	width: 100%;
	background-color: #262626; /* Optional: sets background color */
	color: white; /* Optional: sets text color */
	border-bottom: 1px solid #363636;
	margin-bottom: 20px;
}
  
.header-container h2 {
	margin: 0;
}
  
.close {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	cursor: pointer;
}

.profile-btns {
	background-color: rgb(54, 54, 54);
	border-color: rgba(0, 0, 0, 0.4);
	height: 32px;
	font-weight: 600;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}