.container {
  display: flex;
  justify-content: space-between; /* Adjusts space between columns */
}

.column {
  flex: 1; /* Each column takes up equal width */
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
}


.sidebar {
  width: 245px;
  height: 100%;
  padding: 0px;
  background-color: black;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 30px;
  border-right: 1px solid grey; /* Add a right border */
  font-size: 20px;
}
  
.nav-link {
  color: white;
  margin-bottom: 10px;
}

.icon {
  margin-right: 10px; /* Adjust the margin as needed to control the space between icon and text */
}


.sidebar-wrapper {
  width: 245px; /* Adjust width as needed */
  position: fixed;
  top: 0;
  bottom: 0;
  left: -245px; /* Initially hidden off-screen */
  background-color: black;
  transition: left 0.3s ease; /* Transition for smooth sliding */
}

.sidebar-visible {
  left: 0; /* Slides the sidebar into view */
}