<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Instagram</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-home icon"></i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-search icon"></i>
        Search
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-compass icon"></i>
        Explore
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-film icon"></i>
        Reels
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-envelope icon"></i>
        Messages
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-heart icon"></i>
        Notifications
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-plus icon"></i>
        Create
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">
        <i class="fas fa-user icon"></i>
        Profile
      </a>
    </li>
    <!-- Add more sidebar links as needed -->
  </ul>
</div>
