<div class="container-fluid my-bg full-height">
  <div class="row align-items-center h-100">
  
    <div class="col-3 mx-auto" style="margin-top: 20px;">
      <div class="bordered">
        <img 
          src="../../assets/text-logo.png" 
          alt="Description of Image" 
          class="img-fluid spaced-img">

        <div style="text-align: center; color: grey; margin-bottom: 20px;">
            Sign up to see photos and videos<br>
             from your friends.
        </div>

        <button 
          type="submit" 
          style="background-color: rgb(0, 149, 246);
                 margin-bottom: 20px;
                 font-weight: bold;
                 border: none;"
          class="btn btn-primary w-100">
            Log in with Facebook
        </button>  
        
        <div class="line-container">
          <span class="line"></span>
          <span class="or-text">OR</span>
          <span class="line"></span>
        </div>
  
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
          <div class="form-group"> 
            <input 
              type="text" 
              name="mobileNumberOrEmail" 
              ngModel 
              class="form-control"
              placeholder="Mobile Number or Email"
            >
          </div>
  
          <div class="form-group">
            <input 
              type="text" 
              name="fullName" 
              ngModel
              class="form-control"
              placeholder="Full Name"
            >
          </div>

          <div class="form-group">
            <input 
              type="text" 
              name="username" 
              ngModel
              class="form-control"
              placeholder="Username"
            >
          </div>

          <div class="form-group">
            <input 
              type="password" 
              name="password" 
              ngModel
              class="form-control"
              placeholder="Password"
            >
          </div>          
      
          <div>
            <button 
              type="submit" 
              style="font-weight: bold;"
              class="btn btn-primary w-100">
              Sign up
            </button>
          </div>
        </form>   
        
      </div>    
  
      <div class="bordered" style="margin-top: 20px; text-align: center;">
        Have an account? 
        <a 
          (click)="navigateToLogin()" 
          style="color: #007bff; text-decoration: none; cursor: pointer;">
          Log in  
        </a>
      
      </div>
      
    </div>
  </div>
</div>
  
