<div style="background-color: #262626;">

  <div>
    <label 
      class="my-custom-label">
      Change Profile Photo
    </label>
  </div>

  <div>
    <input style="display: none"  
       type="file" 
       #fileInput 
       (change)="onFilesSelected($event)"
    >
    
    <button 
      class="my-custom-btn"
      style="color: #0095f6"
      (click)="selectFile()"
      >
        Upload Photo  
    </button>
  </div>

  <div>
    <button 
      class="my-custom-btn"
      style="color: #ed4956;">
        Remove Current Photo
    </button>
  </div>

  <div>
    <button 
      class="my-custom-btn"
      style="color: white;">
        Cancel
    </button>
  </div>

</div>
