
<mat-dialog-content 
  class="upload-area" 
  (drop)="onFilesDrop($event)" 
  (dragover)="onDragOver($event)" 
  (dragleave)="onDragLeave($event)">


  <div class="dialog-title" *ngIf="!imageUrl">
    Create new post
  </div>

  <img 
    *ngIf="imageUrl" 
    [src]="imageUrl" 
    alt="Image Preview" 
    class="image-preview"
  >

  <div 
    class="media-icon" 
    *ngIf="!imageUrl" 
    style="margin-top: 20px;align-self: center;"
  >
    <mat-icon style="font-size: 100px; 
                     height: 100px; 
                     width: 200px;"> perm_media
    </mat-icon> 

    <div *ngIf="!imageUrl" style="color: white; margin-top: 5px;">
      Drag photos and videos here
    </div>

    <button 
      class="btn btn-primary w-80 uplodad-media-btn"
      *ngIf="!imageUrl" 
      (click)="selectFile()"
    >
      Select from computer
    </button>

    <input 
      type="file" 
      style="display: none" 
      #fileInput 
      (change)="onFilesSelected($event)"
    >
  
  </div>



  <div></div>


</mat-dialog-content>

<!--
<mat-dialog-actions>
  <button  (click)="close()">Select from computer</button>
  <button  (click)="close()">Cancel</button>
</mat-dialog-actions>
-->