<div class="container" style="background-color: #262626; color: white;">
  
  <!-- First div taking full width -->
  <div class="row" 
    style="height: 40px; 
          border-bottom: 1px solid #363636; 
          display: flex; 
          align-items: center;">
    <div class="col-12">
      <div style="display: flex; justify-content: space-between;">
  
        <div style="text-align: center; flex: 1;">
          Create new post
        </div>
  
        <div 
          *ngIf="imageUrl" 
          style="text-align: right;  
                 display: flex; 
                 align-items: center;"
        >
          <a (click)="onPostShare()">Share</a>
        </div>
  
      </div>
    </div>
  </div>
  

  <!-- Second div with two parallel columns -->
  <div class="row mt-4"  
    style="margin-top: 0 !important;">
    
    <input 
      type="file" 
      style="display: none" 
      #fileInput 
      (change)="onFilesSelected($event)"
    >

    <div [class.col-md-12]="!imageUrl" [class.col-md-8]="imageUrl">

      <img
        *ngIf="imageUrl" 
        [src]="imageUrl" 
        alt="Image Preview" 
        class="image-preview"
      >

      <!-- upload media section -->
      <mat-dialog-content  

        *ngIf="!imageUrl"
        (drop)="onFilesDrop($event)" 
        (dragover)="onDragOver($event)" 
        (dragleave)="onDragLeave($event)"
        style="display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;"

      >

      <mat-icon 
        style="font-size: 100px; 
               width: 200px; 
               height: 100px; 
               display: flex; 
               align-items: center; 
               justify-content: center;">
               
        perm_media
      </mat-icon>


        <div 
          style="color: white; margin-top: 5px;">
              Drag photos and videos here
        </div>

        <button 
          class="btn btn-primary w-80 uplodad-media-btn" 
          (click)="selectFile()"
        >
            Select from computer
        </button>  

      </mat-dialog-content>

    </div>

    <!-- post caption and config section -->
    <div class="col-md-4" *ngIf="imageUrl">

      <br>
      <br>
      
      <textarea 
        placeholder="Write a caption..." 
        [(ngModel)]="postCaption"
        style="width: 100%; 
               border: none;
               outline: none; 
               color: white;
               height: 100px;
               background-color: #262626;"
      >
      </textarea>
    </div>

  </div>

</div>
