
<mat-dialog-content 
  class="upload-area" 
  (drop)="onDrop($event)" 
  (dragover)="onDragOver($event)" 
  (dragleave)="onDragLeave($event)">


  <div class="dialog-title" *ngIf="!imageUrl">
    Create new post
  </div>

  <img *ngIf="imageUrl" [src]="imageUrl" alt="Image Preview" class="image-preview">

  <div *ngIf="!imageUrl" style="color: white;">
    Drag photos and videos here
  </div>

  <button *ngIf="!imageUrl" (click)="close()">
   Select from computer
  </button>


</mat-dialog-content>

<!--
<mat-dialog-actions>
  <button  (click)="close()">Select from computer</button>
  <button  (click)="close()">Cancel</button>
</mat-dialog-actions>
-->